@{
    ViewData["Title"] = "Contact Info";

}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h5 class="h5">Email</h5>
            <p>mattmills2110@gmail.com</p>
            <br />
            <h5 class="h5">Telephone</h5>
            <p>07757 705 662</p>
            <br />
            <h5 class="h5">GitHub</h5>
            <a href="https://github.com/mi115?tab=repositories" target="_blank">Here</a>
        </div>
        <div class="col-md-2"></div>
