@{
    ViewData["Title"] = "Curriculum Vitae";
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1 class="h1">Matthew Mills</h1>
        <br />
        <br />
        <h3 class="h3">Summary</h3>
        <p>
            I’m currently a Project Coordinator Team Leader for Intelligent Data Collection.
            A traffic and transport survey company based in Maidenhead.
            In the past year I’ve been teaching myself Python and applying small scripts to my day to day work while also working on larger projects in my spare time.
            I thoroughly enjoy coding and am dedicated to making it my full-time career.
            I have a logical data driven mindset and a natural need to become an expert in the field I am applied to.
        </p>
        <br />
        <br />
        <h3 class="h3">Experience</h3>
        <br />
        <h5 class="h5">Intelligent Data Collection Ltd</h5>
        <h5 class="h5">Project Coordinator Team Leader</h5>
        <h5 class="h5">October 2017 - Present</h5>
        <h6 class="h6">Maidenhead</h6>
        <p>
            I head a team of six Project Coordinators analyzing manual counted traffic datasets from our offshore processing arm as well as configuring and debugging our ANPR datasets as we pass these through a range of ANPR postprocessing algorithms.
        </p>
        <p>
            My responsibilities include:
        </p>
        <ul>
            <li>Resource Management of Project Coordinator tasks in a deadline driven environment with advance forecasting.</li>
            <li>Authors and oversees the creation of operational processes, training modules and standards for data processing and safety company-wide.</li>
            <li>Sophisticated ANPR analysis of large datasets using in-house legacy software as well as developing new postprocessing algorithms.</li>
            <li>Responsible for the recruitment, onboarding and training of Project Coordinators with the usual Line Manager elements in addition (probationary reviews, appraisals etc..).</li>
            <li>Hosting weekly one-on-one meetings with each Project Coordinator on top of weekly and monthly team meetings.</li>
            <li>Key contributor to the Functional Group Leadership teams’ quarterly meetings reviewing and setting targets for the following quarter.</li>
            <li>Sets, reviews and drives Project Coordinator team metrics based upon principles of data quality and data delivery.</li>
        </ul>
        <br />
        <h5 class="h5">MLC Pub Co</h5>
        <h5 class="h5">Assistant Manager</h5>
        <h5 class="h5">October 2016 - September 2017 (11 months)</h5>
        <h6 class="h6">Sindlesham, Berkshire</h6>
        <p>
            Assistant Manager to the General Manager at a 102 cover Pub managing Front and back of house staff of 24.
        </p>
        <br />
        <br />
        <h3 class="h3">Key Skills and Interests</h3>
        <br />
        <h5 class="h5">Coding with Python</h5>
        <p>
            I have been teaching myself Python and basic computer science principles and data structures over the last year.
            In the past I’ve brought smaller projects into work to help with my day to day workflow or aid processing of datasets to specified client requirements.
            Lately I have been working on an end to end vehicle speed algorithm utilizing matched plate data and the Google Distance Matrix API to give average speed per vehicle record.
            I am also in the progress of developing my own data driven web application using Flask as a frontend framework.
        </p>
        <p>
            Experience with:
        </p>
        <ul>
            <li>Pandas</li>
            <li>MySQL</li>
            <li>Git (Github Username: mi115)</li>
            <li>Flask</li>
            <li>Debugging and mapping a large WPF data processing application in VB</li>
        </ul>
        <br />
        <br />
        <h3 class="h3">Education</h3>
        <br />
        <h5 class="h5">University of Reading</h5>
        <h5 class="h5">Bachelor's Degree, Chemistry - (2013-2016)</h5>
        <br />
        <h5 class="h5">Carres Grammar School</h5>
        <h5 class="h5">GCSEs &amp; A-Levels</h5>
        <p>
            &emsp; A-Levels: Maths (B); Chemistry (C); Biology (C)<br />
            &emsp; GCSEs: 1 A* (Maths); 7 A; 3 B; 1 C
        </p>
        <br />
        <br />
        <h3 class="h3">References</h3>
        <p>Professional and character references are available on request.</p>
    </div>
    <div class="col-md-2"></div>
</div>
