@{
    ViewData["Title"] = "Curriculum Vitae";
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1 class="h1">Matthew Mills</h1>
        <br />
        <br />
        <h3 class="h3">Summary</h3>
        <p>
            I am currently a Project Coordinator Team Leader for a traffic and transport survey company based in Maidenhead. 
            In the past year, I have been teaching myself Python then C# and applying small scripts to my daily work, while also working on larger projects in my spare time. 
            I thoroughly enjoy coding and I am dedicated to making it my full-time career. 
            I have a logical, data driven mindset and a natural need to become an expert in the field I am applied to.
        </p>
        <br />
        <br />
        <h3 class="h3">Experience</h3>
        <br />
        <h5 class="h5">Intelligent Data Collection Ltd</h5>
        <h5 class="h5">Project Coordinator Team Leader</h5>
        <h5 class="h5">October 2017 - Present</h5>
        <h6 class="h6">Maidenhead</h6>
        <p>
            I head a team of six Project Coordinators analyzing manual counted traffic datasets from our offshore processing arm. 
            I also configure and debug our ANPR datasets as we pass these through a range of ANPR post-processing algorithms.
        </p>
        <p>
            My responsibilities include:
        </p>
        <ul>
            <li>Resource Management of Project Coordinator tasks in a deadline driven environment with advance forecasting.</li>
            <li>Author and oversee the creation of operational processes, training modules and standards for data processing and safety company-wide.</li>
            <li>Sophisticated ANPR analysis of large datasets using in-house legacy software as well as developing new post-processing algorithms.</li>
            <li>Responsible for the recruitment, onboarding, training and management of Project Coordinators.</li>
            <li>Hosting weekly one-on-one meetings with each Project Coordinator. In addition to weekly and monthly team meetings.</li>
            <li>Key contributor to the Functional Group Leadership teams’ quarterly meetings, which review and set targets for the following quarter.</li>
            <li>Setting, reviewing and driving Project Coordinator team metrics based upon the principles of data quality and delivery.</li>
        </ul>
        <br />
        <h5 class="h5">MLC Pub Co</h5>
        <h5 class="h5">Assistant Manager</h5>
        <h5 class="h5">October 2016 - September 2017 (11 months)</h5>
        <h6 class="h6">Sindlesham, Berkshire</h6>
        <p>
            Assistant Manager at a 102 cover Pub managing 24 front and back of house staff.
        </p>
        <br />
        <br />
        <h3 class="h3">Key Skills and Interests</h3>
        <br />
        <h5 class="h5">Coding</h5>
        <p>
            In the past year I have taught myself Python, basic computer science principles and data structures. 
            These skills have been used within smaller projects at work to help with my daily workflow or aid the processing of datasets to client specified requirements. 
            I have also developed a basic PyPI clone, this is a data driven web application using Flask as a frontend framework.
            <br />
            Currently, I have been expanding my skills learning C#, from which I am creating a profile web app using a standard ASP.Net MVC structure. 
            I am also developing an end to end vehicle speed algorithm, which utilizes matched plate data and the Google Distance Matrix API to give average speed per vehicle record.

        </p>
        <table style="width:100%">
            <tr>
                <td>
                    Front End:<br />
                    CSS, HTML, Jinga2
                </td>
                <td>
                    Back End:<br />
                    Python, C#, MySQL, Pandas, SQLAlchemy, Flask, ASP.Net
                </td>
                <td>
                    Other:<br />
                    PyCharm, Visual Studio, GitHub, SQLite
                </td>
            </tr>
        </table>
        <br />
        <br />
        <h3 class="h3">Education</h3>
        <br />
        <h5 class="h5">University of Reading</h5>
        <h5 class="h5">Bachelor's Degree, Chemistry - (2013-2016)</h5>
        <br />
        <h5 class="h5">Carres Grammar School</h5>
        <h5 class="h5">GCSEs &amp; A-Levels</h5>
        <p>
            &emsp; A-Levels: Maths (B); Chemistry (C); Biology (C)<br />
            &emsp; GCSEs: 1 A* (Maths); 7 A; 3 B; 1 C
        </p>
        <br />
        <br />
        <h3 class="h3">References</h3>
        <p>Professional and character references are available on request.</p>
    </div>
    <div class="col-md-2"></div>
</div>
