@{
    ViewData["Title"] = "Home Page";
}
    
    <div class="row">
        
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 id="index_head" class="h3">About Me</h3>
            <p>
                I’m currently a Project Coordinator Team Leader for Intelligent Data Collection.
                A traffic and transport survey company based in Maidenhead.
                In the past year I’ve been teaching myself Python and applying small scripts to my day to day work while also working on larger projects in my spare time.
                I thoroughly enjoy coding and am dedicated to making it my full-time career.
                I have a logical data driven mindset and a natural need to become an expert in the field I am applied to.
            </p>
            <br />
            <h3 class="h3">Why I Learnt to Code</h3>
            <p>
                I originally learnt to code for creating automation's in my day to day work.
                Starting with Python tutorials (Codecademy) and "Automate the Boring Stuff" by  Al Sweigart.
                Then one day at work we had a client request a very specific format to the presentation of one of our ANPR data-sets.
                We looked at how we could do this in excel and concluded it would require weeks of tedious and repetitive work.
                So that weekend I taught myself the basics of the Pandas module and wrote a script which we used to get the desired output by Monday morning.
                This actually influenced my work to pay my Codecademy subscription and allow me to subsidize and train other members of my team to learn to code.
                This, all in all, opened my eyes to the power of coding and since then I've never looked back since.
            </p>
            <br />
            <h3 class="h3">Where I Want to go in my Career</h3>
            <p>
                I want to be a programmer working as part of a wider team writing clean and professional code.
                As I have a self taught background, I'm eager to learn industry standards, new techniques and create products that far outweigh the work of an individual.
                In the further future I would like to use my management experience within the technology sector, as I have always found it greatly rewarding enabling others to thrive in their profession.
            </p>

        </div>
        <div class="col-md-2"></div>
    </div>


